///
/// Button
///

/* General: Buttons Styling
============================================================== */
.wp-block-button > .wp-block-button__link {
	transition: all 100ms ease-in-out;

	&:hover {
		box-shadow: var(--wp--preset--shadow--medium);
	}

	&:active {
		scale: (0.98);
	}
}

/* Block Style: Fill
============================================================== */
.wp-block-button:not([class*="is-style-"]) > .wp-block-button__link,
.wp-block-button.is-style-fill > .wp-block-button__link {
	/* Hover effect for buttons without a background */
	&:not(.has-background):hover {
		background-color: color-mix(
			in srgb,
			var(--wp--preset--color--brand-2) 95%,
			transparent
		);
	}

	&.has-background:hover {
		background-image: linear-gradient(
			rgba(0, 0, 0, 0.2),
			rgba(0, 0, 0, 0.2)
		);
		background-blend-mode: overlay;
	}

	/* Section Styles
	-------------------------------------------------------------- */

	/* [Brand-3]  */
	.is-style-section-brand-3 & {
		&:not(.has-background):hover {
			background-color: var(--wp--preset--color--base-3);
			color: var(--wp--preset--color--contrast-2);
		}
	}

	/* [Contrast-2] */
	.is-style-section-contrast-2 & {
		&:not(.has-background):hover {
			background-color: var(--wp--preset--color--base-3);
		}
	}
}

/* Block Style: Outline
============================================================== */
.wp-block-button.is-style-outline > .wp-block-button__link {
	&:not(.has-background):hover {
		background-color: color-mix(
			in srgb,
			var(--wp--preset--color--base-3) 15%,
			transparent
		);
	}
}

