///
/// Navigation
///

@use "../base/variables" as *;

/* General: Navigation Styling
============================================================== */
@media screen and (min-width: $medium) {
	.wp-block-navigation
		.has-child:not(.open-on-click):hover
		> .wp-block-navigation__submenu-container {
		width: 240px;
		box-shadow: var(--wp--preset--shadow--x-large);
		.wp-block-navigation-item:hover {
			background-color: var(--wp--preset--color--base-2);
		}
		.wp-block-navigation-item a:hover {
			color: var(--wp--preset--color--contrast-3);
		}
	}
}


/** -----------------------------------------
 * Navigation: Default
 * ------------------------------------------ */

 .wp-block-navigation.is-style-windowxp-taskbar .wp-block-pages-list__item{
    min-width: 150px;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-top: 2px;
    padding: 0px 8px;
    height: 22px;
    background-color: rgb(60, 129, 243);
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;

	&:hover {
		background-color: rgb(83, 163, 255);
		box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;
		cursor:pointer;
	}
	&:active {
		background-color: rgb(30, 82, 183);
		box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset;
	}
 }
