///
/// List
///

/* Block Style: Checkmark
============================================================== */
.wp-block-list.is-style-prolooks-checkmark {
	list-style-type: "\2713";
	padding-inline-start: 3ch;

	& li {
		padding-inline-start: 1ch;
	}
}

/* Block Style: Checkmark 2 Green
============================================================== */
.wp-block-list.is-style-prolooks-checkmark-2 {
	padding: 0;
	& li {
		position: relative;
		padding-left: 30px;
		list-style: none;
		margin-block-end: var(--wp--preset--spacing--10);
	}
	& li:after {
		position: absolute;
		left: 0;
		top: 0.25em;
		width: 2ch;
		height: 2ch;
		color: var(--wp--preset--color--brand-3);
		text-align: center;
		background-color: var(--wp--preset--color--brand-4);
		line-height: 1.3;
		content: "\2713";
		border-radius: 50%;
	}
}

/* Block Style: Crossmark
============================================================== */
.wp-block-list.is-style-prolooks-crossmark {
	list-style-type: "\2717";
	padding-inline-start: 3ch;
	& li {
		padding-inline-start: 1ch;
	}
}

/* Block Style: Crossmark 2 Red
============================================================== */
.wp-block-list.is-style-prolooks-crossmark-2 {
	padding: 0;
	& li {
		position: relative;
		padding-left: 30px;
		list-style: none;
		margin-block-end: var(--wp--preset--spacing--10);
	}
	& li:after {
		position: absolute;
		left: 0;
		top: 0.25em;
		width: 2ch;
		height: 2ch;
		color: #e73d00;
		text-align: center;
		background-color: var(--wp--preset--color--base-3);
		line-height: 1.2;
		content: "\2717";
		border-radius: 50%;
	}
}
